/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 1rem;
  position: fixed;
  height: 100%;
}

.app-layout {
  display: flex;
}

main {
  margin-left: 220px; /* Sidebar width */
  padding: 1rem;
  flex: 1;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  width: 200px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-detail-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cart-container {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

.checkout {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
}

.checkout h2,
.checkout h3 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* src/App.css or src/components/Header.css */
.header {
  text-align: center;
  background-color: #f8f8f8; /* Background color */
  padding: 20px; /* Padding for the header */
}

.banner {
  width: 100%; /* Make banner responsive */
  max-height: 200px; /* Set a maximum height for the banner */
  object-fit: cover; /* Ensure the image covers the area without stretching */
}

.logo {
  max-width: 150px; /* Limit logo size */
  height: auto; /* Maintain aspect ratio */
}

h1 {
  font-size: 2rem; /* Set header font size */
  margin-top: 10px; /* Space between logo and title */
}
/* Add this to your CSS file */
.search-bar {
  margin: 20px 0;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
